html,body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow:hidden;
  background:black;
  font-family:Geo,sans-serif;
}

/* TEXT */
#msg{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:48px;
  color:white;
  opacity:0;
  z-index:11;

  animation:
    fadeIn 3s forwards,
    hold 1s 3s forwards,
    fadeOut 2s 4s forwards;
}

/* BLACK */
#black{
  position:fixed;
  inset:0;
  background:black;
  opacity:0;
  z-index:5;
  animation: fadeBlack 1.5s 6s forwards;
}

/* IMAGE */
#scene3-image{
  position:fixed;
  inset:0;
  background-image: url("finding-2.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  opacity:0;
  z-index:10;
  animation: showImage 1s 7.5s forwards;
}

/* CANVAS */
canvas{
  position:fixed;
  inset:0;
  z-index:20; /* dialogue trên cùng */
  pointer-events:none;
}

/* KEYFRAMES */
@keyframes fadeIn{ to{opacity:1;} }
@keyframes hold{ to{opacity:1;} }
@keyframes fadeOut{ to{opacity:0;} }
@keyframes fadeBlack{ to{opacity:1;} }
@keyframes showImage{ to{opacity:1;} }

button {
    background: #007acc;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background: #005fa3;
}